.red{
    background-color: red;
}
.green{
    background-color: green;
}
.sky-blue{
    background-color:skyblue;
}
.yellow{
    background-color: yellow;
}
table{
    border-radius:;

}
*{
    margin: 0 auto;
}